.SelectFieldPage .container{
  position: relative;
}
.SelectFieldPage header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px;
  margin-bottom: 0.7rem;
}
.SelectFieldPage header .title {
  color: var(--primary-gray);
  margin: 0;
}
.SelectFieldPage .field-list {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #696969;
  min-height: 75vh;
}
.SelectFieldPage .field-list .field-box {
  margin-top: 2rem;
  width: 300px;

}
.SelectFieldPage .field-list .field-box img {
  border-radius: 10px;
  border: 5px solid #696969;
  height: 110px;
  width: 110px;
  object-fit: contain; /*  */
  box-shadow: 0px 4px 4px #00000048;
}

.SelectFieldPage .field-list .field-box .title{
  margin: 7px 0 0 0;
  font-weight: 600;
  font-size: 1.3rem;
}
.SelectFieldPage .field-list .add-field img {
  background-color: #17c500;
  border: 5px solid #69696965;
}
.SelectFieldPage .container .app-info{
  width: 100%;
  text-align: center;
  color: var(--primary-gray);
  font-weight: 500;
  margin-top: 30px;
  /* position: absolute; */
  /* bottom: 20px; */
}
.SelectFieldPage .container .app-info p, .SelectFieldPage .container .app-info h2{
  margin: 0 0 5px 0px;
}
@media (min-width: 700px) {
  .SelectFieldPage{
    display: grid;
    position: relative;
    min-width: 700px;
    max-width: 1400px;
    margin: 0 auto;
    grid-template-columns: auto 1fr;
    padding: 0 10px;
  }

  .SelectFieldPage .field-list{
    flex-direction: row; 
    flex-wrap: wrap; /* allow elemnts to create a next line of elements */
    justify-content: center; 
    align-items: start; 
    padding-top: 20px;

  }
  .SelectFieldPage .field-list .field-box {
    margin: 50px;
  }
}