.MStudentsPage main {
  display: flex;
}
.MStudentsPage .MainButton {
    /* position: relative; */
  width: 90%;
  background-color: #17c500;
  margin-top: 10px;
  align-items: center;
  margin: 10px auto 10px auto;
  display: flex;
  justify-content: space-between;
  
}

.MStudentsPage .student-list{
    border-top: 1px solid var(--secondary-gray);
}
