.MProfesorsPageById .GenericHorizontalCard{
    border: none;
}
.MProfesorsPageById .option-list{
    margin-top: 20px;
    border-top: 1px solid var(--primary-gray);
    /* border: 20px solid red; */
}