.MNotificationsPage .header {
    border: none;
}
.MNotificationsPage main{
    padding-top: 10px;
}

.MNotificationsPage  .MainButton{
    width: 90%;
    background-color: #17c500;
    margin-top: 10px;
    align-items: center;
    margin: 10px auto 10px auto;
    display: flex;
    justify-content: space-between;
}

.MNotificationsPage .notifications-list{
    border-top: 1px solid var(--tertiary-gray);
}

@media (min-width: 700px) {
    .MNotificationsPage {
      display: grid;
      position: relative;
      /* width: 80%; */
      min-width: 700px;
      max-width: 1400px;
      margin: 0 auto;
      grid-template-columns: auto 1fr;
      padding: 0 10px;
    }
    .MNotificationsPage .container{
      position: relative;
    }
  }
