.NavBar{
  width: 100%;
  background-color: var(--primary-blue);
}
.NavBar .container{
  height: 3.7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: inherit;
  justify-content: space-between;
  font-family: "roboto", sans-serif;
}

.NavBar .container .button {
  background-color: #0000;
  border: none;
  height: 100%;
}

.NavBar .container .title {
  color: var(--primary-white);
  font-size: var(--font-size-large);
  font-weight: medium;
}

.NavBar .container .notification-span {
  background-color: var(--secondary-white);
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  position: absolute;
  right: 2px;
  top: 1px;
  color: var(--primary-blue);
  font-size: 1.2rem;
  font-weight: 800;
}
@media (min-width: 700px) {
  .NavBar .container {
    min-width: 700px;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    padding: 0 10px;
    
  }
  .NavBar .container .menu-button{
    visibility: hidden;
  }
  .NavBar .container .notification-span{
    margin-right: 10px;
  }
  .NavBar .background.open{ /* to fix menu open */
    display: none;
  }

}
