.ExamsPage .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px;
    margin-bottom: .7rem;
}
.ExamsPage .header .title {
    color: var(--primary-gray);
    margin: 0;
}