.MExamsPage .GenericHorizontalCard{
    border-bottom: none  ;
}

.MExamsPage .MainButton{
    background-color: #17C500;
    margin: 10px auto;
    display: flex;
    width: 80%;
    justify-content: space-between
}
@media (min-width: 700px) {
    .MExamsPage {
      display: grid;
      position: relative;
      /* width: 80%; */
      min-width: 700px;
      max-width: 1400px;
      margin: 0 auto;
      grid-template-columns: auto 1fr;
      padding: 0 10px;
    }
    .MExamsPage .container{
      position: relative;
    }
    
  }