.HelpPage{
    color: #696969;
}
.HelpPage header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2px;
  margin-bottom: 0.7rem;
}

.HelpPage header .title {
  color: var(--primary-gray);
  margin: 0;
}

.HelpPage main .introduction{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    font-size: 1.1rem;
}


.HelpPage main .frequently-asked-questions{
    display: flex;
    flex-direction: column;
    padding: 10px;



}
.HelpPage main .frequently-asked-questions a{
    padding-top: 1rem;
    text-decoration: none;
    color: #0057FF;
    font-weight: 600;
}

.HelpPage main  .contact {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.HelpPage main  .contact .MainButton{
    margin-top: 15px;
}
.HelpPage main  .contact .support{
    background-color: #FF4242;
}
@media (min-width: 700px) {
    .HelpPage{
        display: grid;
        position: relative;
        min-width: 700px;
        max-width: 1400px;
        margin: 0 auto;
        grid-template-columns: auto 1fr;
        padding: 0 10px;
    }

}

