.HomePage header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2px;
    margin-bottom: 0.7rem;
  }
  .HomePage header .title {
    color: var(--primary-gray);
    margin: 0;
  }
  @media (min-width: 700px) {
    .HomePage{
        display: grid;
        position: relative;
        min-width: 700px;
        max-width: 1400px;
        margin: 0 auto;
        grid-template-columns: auto 1fr;
        padding: 0 10px;
    }

  }