.MExamPageById .GenericHorizontalCard{
    border-bottom: 0px;
}
.MExamPageById  .main .info-box{
    width: 100%;
    border-top:1px solid var(--primary-gray);
    border-bottom:1px solid var(--primary-gray);
    color: var(--primary-gray);
    font-weight: 500;
    font-size: 1.2rem;
    margin: 10px 0 0 0;
}
.MExamPageById .main .info-box .info-row{
    display: flex;
    justify-content: space-between;
    padding: 5px 2px;
}
.MExamPageById .bottom{
    width: 100%;
    position: absolute;
    bottom: 10px;

}
.MExamPageById .bottom .MainButton{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}
.MExamPageById .results .title{
    margin:  4px 0;
    color: var(--primary-gray);
    font-weight: 500;
    position: relative;


    /* background-color: red; */
}
.MExamPageById .results .header{
    display: flex;
    justify-content: space-between;
    padding: 2px 4px;
    background-color: var(--primary-gray);
    color: white;

}
.MExamPageById .results .result_card{
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 4px;
    background-color: var(--primary-white);
    color: var(--primary-gray);
    font-size: 1rem;
    align-items: center;
    min-height: 45px;
    position: relative;

}
